.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_9.xml
.idea/libraries/Maven__commons_httpclient_commons_httpclient_3_0_1.xml
.idea/libraries/Maven__commons_io_commons_io_2_3.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__junit_junit_3_8_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_4_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_1.xml
.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_9_7.xml
.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_7.xml
.idea/libraries/Maven__org_javaswift_joss_0_9_10.xml
.idea/libraries/Maven__org_nuiton_thirdparty_REngine_0_6_1.xml
.idea/libraries/Maven__org_nuiton_thirdparty_Rserve_0_6_1.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_2.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_2.xml
target
*.iml
/.idea